# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [36]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup

In [37]:
browser2 = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [38]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url2 = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser2.visit(url2)
html2 = browser2.html

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [39]:
# Create a Beautiful Soup Object
soup_object2 = soup(html2, "html.parser")

tables = soup_object2.find_all('tr', class_='data-row')

In [40]:
# Extract all rows of data
tables

[<tr class="data-row">
 <td>2</td>
 <td>2012-08-16</td>
 <td>10</td>
 <td>155</td>
 <td>6</td>
 <td>-75.0</td>
 <td>739.0</td>
 </tr>,
 <tr class="data-row">
 <td>13</td>
 <td>2012-08-17</td>
 <td>11</td>
 <td>156</td>
 <td>6</td>
 <td>-76.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>24</td>
 <td>2012-08-18</td>
 <td>12</td>
 <td>156</td>
 <td>6</td>
 <td>-76.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>35</td>
 <td>2012-08-19</td>
 <td>13</td>
 <td>157</td>
 <td>6</td>
 <td>-74.0</td>
 <td>732.0</td>
 </tr>,
 <tr class="data-row">
 <td>46</td>
 <td>2012-08-20</td>
 <td>14</td>
 <td>157</td>
 <td>6</td>
 <td>-74.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>57</td>
 <td>2012-08-21</td>
 <td>15</td>
 <td>158</td>
 <td>6</td>
 <td>-78.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>68</td>
 <td>2012-08-22</td>
 <td>16</td>
 <td>158</td>
 <td>6</td>
 <td>-77.0</td>
 <td>740.0</td>
 </tr>,
 <tr class="data-row">
 <td>79</td>
 <td>2012-08-23</td>
 <td>17</td>
 <td>159</td>
 <td>6</td>
 <td>-76.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>112</td>
 <td>2012-08-27</td>
 <td>21</td>
 <td>161</td>
 <td>6</td>
 <td>-74.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>114</td>
 <td>2012-08-28</td>
 <td>22</td>
 <td>162</td>
 <td>6</td>
 <td>-74.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>123</td>
 <td>2012-08-29</td>
 <td>23</td>
 <td>162</td>
 <td>6</td>
 <td>-75.0</td>
 <td>741.0</td>
 </tr>,
 <tr class="data-row">
 <td>134</td>
 <td>2012-08-30</td>
 <td>24</td>
 <td>163</td>
 <td>6</td>
 <td>-75.0</td>
 <td>742.0</td>
 </tr>,
 <tr class="data-row">
 <td>145</td>
 <td>2012-08-31</td>
 <td>25</td>
 <td>163</td>
 <td>6</td>
 <td>-75.0</td>
 <td>743.0</td>
 </tr>,
 <tr class="data-row">
 <td>156</td>
 <td>2012-09-01</td>
 <td>26</td>
 <td>164</td>
 <td>6</td>
 <td>-76.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>163</td>
 <td>2012-09-02</td>
 <td>27</td>
 <td>164</td>
 <td>6</td>
 <td>-75.0</td>
 <td>743.0</td>
 </tr>,
 <tr class="data-row">
 <td>170</td>
 <td>2012-09-03</td>
 <td>28</td>
 <td>165</td>
 <td>6</td>
 <td>-75.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>171</td>
 <td>2012-09-04</td>
 <td>29</td>
 <td>166</td>
 <td>6</td>
 <td>-75.0</td>
 <td>747.0</td>
 </tr>,
 <tr class="data-row">
 <td>172</td>
 <td>2012-09-05</td>
 <td>30</td>
 <td>166</td>
 <td>6</td>
 <td>-74.0</td>
 <td>747.0</td>
 </tr>,
 <tr class="data-row">
 <td>173</td>
 <td>2012-09-06</td>
 <td>31</td>
 <td>167</td>
 <td>6</td>
 <td>-74.0</td>
 <td>745.0</td>
 </tr>,
 <tr class="data-row">
 <td>175</td>
 <td>2012-09-08</td>
 <td>33</td>
 <td>168</td>
 <td>6</td>
 <td>-73.0</td>
 <td>748.0</td>
 </tr>,
 <tr class="data-row">
 <td>176</td>
 <td>2012-09-10</td>
 <td>34</td>
 <td>168</td>
 <td>6</td>
 <td>-73.0</td>
 <td>748.0</td>
 </tr>,
 <tr class="data-row">
 <td>177</td>
 <td>2012-09-11</td>
 <td>35</td>
 <td>169</td>
 <td>6</td>
 <td>-73.0</td>
 <td>749.0</td>
 </tr>,
 <tr class="data-row">
 <td>178</td>
 <td>2012-09-12</td>
 <td>36</td>
 <td>169</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>179</td>
 <td>2012-09-13</td>
 <td>37</td>
 <td>170</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>180</td>
 <td>2012-09-14</td>
 <td>38</td>
 <td>171</td>
 <td>6</td>
 <td>-73.0</td>
 <td>750.0</td>
 </tr>,
 <tr class="data-row">
 <td>181</td>
 <td>2012-09-15</td>
 <td>39</td>
 <td>171</td>
 <td>6</td>
 <td>-75.0</td>
 <td>751.0</td>
 </tr>,
 <tr class="data-row">
 <td>182</td>
 <td>2012-09-16</td>
 <td>40</td>
 <td>172</td>
 <td>6</td>
 <td>-75.0</td>
 <td>753.0</td>
 </tr>,
 <tr class="data-row">
 <td>183</td>
 <td>2012-09-17</td>
 <td>41</td>
 <td>172</td>
 <td>6</td>
 <td>-75.0</td>
 <td>753.0</td>
 </tr>,
 <tr class="data-row">
 <td>184</td>
 <td>2012-09-18</td>
 <td>42</td>
 <td>173</td>
 <td>6</td>
 <td>-75.0</td>
 <td>754.0</td>
 </tr>,
 <tr class="data-row">
 <td>185</td>
 <td>2012-09-19</td>
 <td>43</td>
 <td>173</td>
 <td>6</td>
 <td>-74.0</td>
 <td>756.0</td>
 </tr>,
 <tr class="data-row">
 <td>186</td>
 <td>2012-09-20</td>
 <td>44</td>
 <td>174</td>
 <td>6</td>
 <td>-75.0</td>
 <td>757.0</td>
 </tr>,
 <tr class="data-row">
 <td>187</td>
 <td>2012-09-21</td>
 <td>45</td>
 <td>175</td>
 <td>6</td>
 <td>-74.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>188</td>
 <td>2012-09-22</td>
 <td>46</td>
 <td>175</td>
 <td>6</td>
 <td>-74.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>189</td>
 <td>2012-09-23</td>
 <td>47</td>
 <td>176</td>
 <td>6</td>
 <td>-75.0</td>
 <td>758.0</td>
 </tr>,
 <tr class="data-row">
 <td>190</td>
 <td>2012-09-24</td>
 <td>48</td>
 <td>176</td>
 <td>6</td>
 <td>-75.0</td>
 <td>759.0</td>
 </tr>,
 <tr class="data-row">
 <td>191</td>
 <td>2012-09-25</td>
 <td>49</td>
 <td>177</td>
 <td>6</td>
 <td>-74.0</td>
 <td>761.0</td>
 </tr>,
 <tr class="data-row">
 <td>192</td>
 <td>2012-09-26</td>
 <td>50</td>
 <td>177</td>
 <td>6</td>
 <td>-72.0</td>
 <td>761.0</td>
 </tr>,
 <tr class="data-row">
 <td>193</td>
 <td>2012-09-27</td>
 <td>51</td>
 <td>178</td>
 <td>6</td>
 <td>-76.0</td>
 <td>762.0</td>
 </tr>,
 <tr class="data-row">
 <td>194</td>
 <td>2012-09-28</td>
 <td>52</td>
 <td>179</td>
 <td>6</td>
 <td>-74.0</td>
 <td>762.0</td>
 </tr>,
 <tr class="data-row">
 <td>195</td>
 <td>2012-09-29</td>
 <td>53</td>
 <td>179</td>
 <td>6</td>
 <td>-71.0</td>
 <td>764.0</td>
 </tr>,
 <tr class="data-row">
 <td>196</td>
 <td>2012-09-30</td>
 <td>54</td>
 <td>180</td>
 <td>7</td>
 <td>-72.0</td>
 <td>766.0</td>
 </tr>,
 <tr class="data-row">
 <td>197</td>
 <td>2012-10-01</td>
 <td>55</td>
 <td>180</td>
 <td>7</td>
 <td>-74.0</td>
 <td>766.0</td>
 </tr>,
 <tr class="data-row">
 <td>198</td>
 <td>2012-10-02</td>
 <td>56</td>
 <td>181</td>
 <td>7</td>
 <td>-73.0</td>
 <td>768.0</td>
 </tr>,
 <tr class="data-row">
 <td>199</td>
 <td>2012-10-03</td>
 <td>57</td>
 <td>181</td>
 <td>7</td>
 <td>-73.0</td>
 <td>769.0</td>
 </tr>,
 <tr class="data-row">
 <td>200</td>
 <td>2012-10-04</td>
 <td>58</td>
 <td>182</td>
 <td>7</td>
 <td>-74.0</td>
 <td>769.0</td>
 </tr>,
 <tr class="data-row">
 <td>201</td>
 <td>2012-10-05</td>
 <td>59</td>
 <td>183</td>
 <td>7</td>
 <td>-76.0</td>
 <td>771.0</td>
 </tr>,
 <tr class="data-row">
 <td>202</td>
 <td>2012-10-06</td>
 <td>60</td>
 <td>183</td>
 <td>7</td>
 <td>-75.0</td>
 <td>772.0</td>
 </tr>,
 <tr class="data-row">
 <td>203</td>
 <td>2012-10-07</td>
 <td>61</td>
 <td>184</td>
 <td>7</td>
 <td>-72.0</td>
 <td>772.0</td>
 </tr>,
 <tr class="data-row">
 <td>204</td>
 <td>2012-10-08</td>
 <td>62</td>
 <td>184</td>
 <td>7</td>
 <td>-72.0</td>
 <td>774.0</td>
 </tr>,
 <tr class="data-row">
 <td>205</td>
 <td>2012-10-09</td>
 <td>63</td>
 <td>185</td>
 <td>7</td>
 <td>-73.0</td>
 <td>775.0</td>
 </tr>,
 <tr class="data-row">
 <td>206</td>
 <td>2012-10-10</td>
 <td>64</td>
 <td>186</td>
 <td>7</td>
 <td>-74.0</td>
 <td>776.0</td>
 </tr>,
 <tr class="data-row">
 <td>207</td>
 <td>2012-10-11</td>
 <td>65</td>
 <td>186</td>
 <td>7</td>
 <td>-72.0</td>
 <td>777.0</td>
 </tr>,
 <tr class="data-row">
 <td>208</td>
 <td>2012-10-12</td>
 <td>66</td>
 <td>187</td>
 <td>7</td>
 <td>-73.0</td>
 <td>778.0</td>
 </tr>,
 <tr class="data-row">
 <td>209</td>
 <td>2012-10-13</td>
 <td>67</td>
 <td>187</td>
 <td>7</td>
 <td>-73.0</td>
 <td>780.0</td>
 </tr>,
 <tr class="data-row">
 <td>210</td>
 <td>2012-10-14</td>
 <td>68</td>
 <td>188</td>
 <td>7</td>
 <td>-71.0</td>
 <td>781.0</td>
 </tr>,
 <tr class="data-row">
 <td>211</td>
 <td>2012-10-15</td>
 <td>69</td>
 <td>189</td>
 <td>7</td>
 <td>-73.0</td>
 <td>778.0</td>
 </tr>,
 <tr class="data-row">
 <td>212</td>
 <td>2012-10-17</td>
 <td>70</td>
 <td>189</td>
 <td>7</td>
 <td>-72.0</td>
 <td>783.0</td>
 </tr>,
 <tr class="data-row">
 <td>213</td>
 <td>2012-10-18</td>
 <td>71</td>
 <td>190</td>
 <td>7</td>
 <td>-71.0</td>
 <td>784.0</td>
 </tr>,
 <tr class="data-row">
 <td>214</td>
 <td>2012-10-19</td>
 <td>72</td>
 <td>190</td>
 <td>7</td>
 <td>-73.0</td>
 <td>785.0</td>
 </tr>,
 <tr class="data-row">
 <td>215</td>
 <td>2012-10-20</td>
 <td>73</td>
 <td>191</td>
 <td>7</td>
 <td>-70.0</td>
 <td>788.0</td>
 </tr>,
 <tr class="data-row">
 <td>216</td>
 <td>2012-10-21</td>
 <td>74</td>
 <td>192</td>
 <td>7</td>
 <td>-72.0</td>
 <td>790.0</td>
 </tr>,
 <tr class="data-row">
 <td>217</td>
 <td>2012-10-22</td>
 <td>75</td>
 <td>192</td>
 <td>7</td>
 <td>-73.0</td>
 <td>791.0</td>
 </tr>,
 <tr class="data-row">
 <td>218</td>
 <td>2012-10-23</td>
 <td>76</td>
 <td>193</td>
 <td>7</td>
 <td>-73.0</td>
 <td>792.0</td>
 </tr>,
 <tr class="data-row">
 <td>219</td>
 <td>2012-10-24</td>
 <td>77</td>
 <td>193</td>
 <td>7</td>
 <td>-71.0</td>
 <td>792.0</td>
 </tr>,
 <tr class="data-row">
 <td>220</td>
 <td>2012-10-25</td>
 <td>78</td>
 <td>194</td>
 <td>7</td>
 <td>-71.0</td>
 <td>793.0</td>
 </tr>,
 <tr class="data-row">
 <td>221</td>
 <td>2012-10-26</td>
 <td>79</td>
 <td>195</td>
 <td>7</td>
 <td>-73.0</td>
 <td>795.0</td>
 </tr>,
 <tr class="data-row">
 <td>222</td>
 <td>2012-10-27</td>
 <td>80</td>
 <td>195</td>
 <td>7</td>
 <td>-70.0</td>
 <td>796.0</td>
 </tr>,
 <tr class="data-row">
 <td>223</td>
 <td>2012-10-28</td>
 <td>81</td>
 <td>196</td>
 <td>7</td>
 <td>-72.0</td>
 <td>798.0</td>
 </tr>,
 <tr class="data-row">
 <td>224</td>
 <td>2012-10-29</td>
 <td>82</td>
 <td>196</td>
 <td>7</td>
 <td>-72.0</td>
 <td>799.0</td>
 </tr>,
 <tr class="data-row">
 <td>225</td>
 <td>2012-10-30</td>
 <td>83</td>
 <td>197</td>
 <td>7</td>
 <td>-72.0</td>
 <td>801.0</td>
 </tr>,
 <tr class="data-row">
 <td>226</td>
 <td>2012-10-31</td>
 <td>84</td>
 <td>198</td>
 <td>7</td>
 <td>-70.0</td>
 <td>801.0</td>
 </tr>,
 <tr class="data-row">
 <td>227</td>
 <td>2012-11-01</td>
 <td>85</td>
 <td>198</td>
 <td>7</td>
 <td>-71.0</td>
 <td>805.0</td>
 </tr>,
 <tr class="data-row">
 <td>228</td>
 <td>2012-11-02</td>
 <td>86</td>
 <td>199</td>
 <td>7</td>
 <td>-71.0</td>
 <td>808.0</td>
 </tr>,
 <tr class="data-row">
 <td>229</td>
 <td>2012-11-03</td>
 <td>87</td>
 <td>199</td>
 <td>7</td>
 <td>-70.0</td>
 <td>808.0</td>
 </tr>,
 <tr class="data-row">
 <td>230</td>
 <td>2012-11-04</td>
 <td>88</td>
 <td>200</td>
 <td>7</td>
 <td>-70.0</td>
 <td>811.0</td>
 </tr>,
 <tr class="data-row">
 <td>231</td>
 <td>2012-11-05</td>
 <td>89</td>
 <td>201</td>
 <td>7</td>
 <td>-73.0</td>
 <td>813.0</td>
 </tr>,
 <tr class="data-row">
 <td>233</td>
 <td>2012-11-06</td>
 <td>90</td>
 <td>201</td>
 <td>7</td>
 <td>-71.0</td>
 <td>813.0</td>
 </tr>,
 <tr class="data-row">
 <td>234</td>
 <td>2012-11-07</td>
 <td>91</td>
 <td>202</td>
 <td>7</td>
 <td>-74.0</td>
 <td>817.0</td>
 </tr>,
 <tr class="data-row">
 <td>235</td>
 <td>2012-11-08</td>
 <td>92</td>
 <td>202</td>
 <td>7</td>
 <td>-74.0</td>
 <td>820.0</td>
 </tr>,
 <tr class="data-row">
 <td>236</td>
 <td>2012-11-09</td>
 <td>93</td>
 <td>203</td>
 <td>7</td>
 <td>-72.0</td>
 <td>819.0</td>
 </tr>,
 <tr class="data-row">
 <td>237</td>
 <td>2012-11-10</td>
 <td>94</td>
 <td>204</td>
 <td>7</td>
 <td>-70.0</td>
 <td>822.0</td>
 </tr>,
 <tr class="data-row">
 <td>238</td>
 <td>2012-11-11</td>
 <td>95</td>
 <td>204</td>
 <td>7</td>
 <td>-68.0</td>
 <td>822.0</td>
 </tr>,
 <tr class="data-row">
 <td>239</td>
 <td>2012-11-12</td>
 <td>96</td>
 <td>205</td>
 <td>7</td>
 <td>-71.0</td>
 <td>826.0</td>
 </tr>,
 <tr class="data-row">
 <td>240</td>
 <td>2012-11-13</td>
 <td>97</td>
 <td>206</td>
 <td>7</td>
 <td>-68.0</td>
 <td>828.0</td>
 </tr>,
 <tr class="data-row">
 <td>241</td>
 <td>2012-11-14</td>
 <td>98</td>
 <td>206</td>
 <td>7</td>
 <td>-68.0</td>
 <td>828.0</td>
 </tr>,
 <tr class="data-row">
 <td>242</td>
 <td>2012-11-15</td>
 <td>99</td>
 <td>207</td>
 <td>7</td>
 <td>-68.0</td>
 <td>829.0</td>
 </tr>,
 <tr class="data-row">
 <td>3</td>
 <td>2012-11-16</td>
 <td>100</td>
 <td>207</td>
 <td>7</td>
 <td>-66.0</td>
 <td>829.0</td>
 </tr>,
 <tr class="data-row">
 <td>4</td>
 <td>2012-11-17</td>
 <td>101</td>
 <td>208</td>
 <td>7</td>
 <td>-65.0</td>
 <td>830.0</td>
 </tr>,
 <tr class="data-row">
 <td>5</td>
 <td>2012-11-18</td>
 <td>102</td>
 <td>209</td>
 <td>7</td>
 <td>-67.0</td>
 <td>833.0</td>
 </tr>,
 <tr class="data-row">
 <td>6</td>
 <td>2012-11-19</td>
 <td>103</td>
 <td>209</td>
 <td>7</td>
 <td>-66.0</td>
 <td>836.0</td>
 </tr>,
 <tr class="data-row">
 <td>7</td>
 <td>2012-11-20</td>
 <td>104</td>
 <td>210</td>
 <td>8</td>
 <td>-67.0</td>
 <td>838.0</td>
 </tr>,
 <tr class="data-row">
 <td>8</td>
 <td>2012-11-21</td>
 <td>105</td>
 <td>211</td>
 <td>8</td>
 <td>-66.0</td>
 <td>839.0</td>
 </tr>,
 <tr class="data-row">
 <td>9</td>
 <td>2012-11-23</td>
 <td>106</td>
 <td>211</td>
 <td>8</td>
 <td>-66.0</td>
 <td>841.0</td>
 </tr>,
 <tr class="data-row">
 <td>10</td>
 <td>2012-11-24</td>
 <td>107</td>
 <td>212</td>
 <td>8</td>
 <td>-66.0</td>
 <td>844.0</td>
 </tr>,
 <tr class="data-row">
 <td>11</td>
 <td>2012-11-25</td>
 <td>108</td>
 <td>212</td>
 <td>8</td>
 <td>-65.0</td>
 <td>845.0</td>
 </tr>,
 <tr class="data-row">
 <td>12</td>
 <td>2012-11-26</td>
 <td>109</td>
 <td>213</td>
 <td>8</td>
 <td>-64.0</td>
 <td>844.0</td>
 </tr>,
 <tr class="data-row">
 <td>14</td>
 <td>2012-11-27</td>
 <td>110</td>
 <td>214</td>
 <td>8</td>
 <td>-65.0</td>
 <td>848.0</td>
 </tr>,
 <tr class="data-row">
 <td>15</td>
 <td>2012-11-28</td>
 <td>111</td>
 <td>214</td>
 <td>8</td>
 <td>-66.0</td>
 <td>849.0</td>
 </tr>,
 <tr class="data-row">
 <td>16</td>
 <td>2012-11-29</td>
 <td>112</td>
 <td>215</td>
 <td>8</td>
 <td>-65.0</td>
 <td>852.0</td>
 </tr>,
 <tr class="data-row">
 <td>17</td>
 <td>2012-11-30</td>
 <td>113</td>
 <td>216</td>
 <td>8</td>
 <td>-66.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>18</td>
 <td>2012-12-01</td>
 <td>114</td>
 <td>216</td>
 <td>8</td>
 <td>-69.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>19</td>
 <td>2012-12-02</td>
 <td>115</td>
 <td>217</td>
 <td>8</td>
 <td>-66.0</td>
 <td>857.0</td>
 </tr>,
 <tr class="data-row">
 <td>20</td>
 <td>2012-12-03</td>
 <td>116</td>
 <td>217</td>
 <td>8</td>
 <td>-67.0</td>
 <td>859.0</td>
 </tr>,
 <tr class="data-row">
 <td>21</td>
 <td>2012-12-04</td>
 <td>117</td>
 <td>218</td>
 <td>8</td>
 <td>-66.0</td>
 <td>861.0</td>
 </tr>,
 <tr class="data-row">
 <td>22</td>
 <td>2012-12-05</td>
 <td>118</td>
 <td>219</td>
 <td>8</td>
 <td>-65.0</td>
 <td>864.0</td>
 </tr>,
 <tr class="data-row">
 <td>23</td>
 <td>2012-12-06</td>
 <td>119</td>
 <td>219</td>
 <td>8</td>
 <td>-66.0</td>
 <td>866.0</td>
 </tr>,
 <tr class="data-row">
 <td>25</td>
 <td>2012-12-07</td>
 <td>120</td>
 <td>220</td>
 <td>8</td>
 <td>-67.0</td>
 <td>867.0</td>
 </tr>,
 <tr class="data-row">
 <td>26</td>
 <td>2012-12-08</td>
 <td>121</td>
 <td>221</td>
 <td>8</td>
 <td>-66.0</td>
 <td>869.0</td>
 </tr>,
 <tr class="data-row">
 <td>27</td>
 <td>2012-12-09</td>
 <td>122</td>
 <td>221</td>
 <td>8</td>
 <td>-65.0</td>
 <td>869.0</td>
 </tr>,
 <tr class="data-row">
 <td>28</td>
 <td>2012-12-10</td>
 <td>123</td>
 <td>222</td>
 <td>8</td>
 <td>-66.0</td>
 <td>875.0</td>
 </tr>,
 <tr class="data-row">
 <td>29</td>
 <td>2012-12-11</td>
 <td>124</td>
 <td>223</td>
 <td>8</td>
 <td>-66.0</td>
 <td>876.0</td>
 </tr>,
 <tr class="data-row">
 <td>30</td>
 <td>2012-12-12</td>
 <td>125</td>
 <td>223</td>
 <td>8</td>
 <td>-68.0</td>
 <td>880.0</td>
 </tr>,
 <tr class="data-row">
 <td>31</td>
 <td>2012-12-13</td>
 <td>126</td>
 <td>224</td>
 <td>8</td>
 <td>-66.0</td>
 <td>880.0</td>
 </tr>,
 <tr class="data-row">
 <td>32</td>
 <td>2012-12-14</td>
 <td>127</td>
 <td>224</td>
 <td>8</td>
 <td>-67.0</td>
 <td>884.0</td>
 </tr>,
 <tr class="data-row">
 <td>33</td>
 <td>2012-12-15</td>
 <td>128</td>
 <td>225</td>
 <td>8</td>
 <td>-67.0</td>
 <td>883.0</td>
 </tr>,
 <tr class="data-row">
 <td>34</td>
 <td>2012-12-16</td>
 <td>129</td>
 <td>226</td>
 <td>8</td>
 <td>-65.0</td>
 <td>886.0</td>
 </tr>,
 <tr class="data-row">
 <td>36</td>
 <td>2012-12-17</td>
 <td>130</td>
 <td>226</td>
 <td>8</td>
 <td>-65.0</td>
 <td>888.0</td>
 </tr>,
 <tr class="data-row">
 <td>37</td>
 <td>2012-12-18</td>
 <td>131</td>
 <td>227</td>
 <td>8</td>
 <td>-65.0</td>
 <td>889.0</td>
 </tr>,
 <tr class="data-row">
 <td>38</td>
 <td>2012-12-19</td>
 <td>132</td>
 <td>228</td>
 <td>8</td>
 <td>-65.0</td>
 <td>890.0</td>
 </tr>,
 <tr class="data-row">
 <td>39</td>
 <td>2012-12-20</td>
 <td>133</td>
 <td>228</td>
 <td>8</td>
 <td>-65.0</td>
 <td>891.0</td>
 </tr>,
 <tr class="data-row">
 <td>40</td>
 <td>2012-12-21</td>
 <td>134</td>
 <td>229</td>
 <td>8</td>
 <td>-67.0</td>
 <td>893.0</td>
 </tr>,
 <tr class="data-row">
 <td>41</td>
 <td>2012-12-22</td>
 <td>135</td>
 <td>230</td>
 <td>8</td>
 <td>-65.0</td>
 <td>894.0</td>
 </tr>,
 <tr class="data-row">
 <td>42</td>
 <td>2012-12-23</td>
 <td>136</td>
 <td>230</td>
 <td>8</td>
 <td>-65.0</td>
 <td>897.0</td>
 </tr>,
 <tr class="data-row">
 <td>43</td>
 <td>2012-12-24</td>
 <td>137</td>
 <td>231</td>
 <td>8</td>
 <td>-64.0</td>
 <td>896.0</td>
 </tr>,
 <tr class="data-row">
 <td>44</td>
 <td>2012-12-25</td>
 <td>138</td>
 <td>232</td>
 <td>8</td>
 <td>-65.0</td>
 <td>899.0</td>
 </tr>,
 <tr class="data-row">
 <td>45</td>
 <td>2012-12-26</td>
 <td>139</td>
 <td>232</td>
 <td>8</td>
 <td>-66.0</td>
 <td>899.0</td>
 </tr>,
 <tr class="data-row">
 <td>47</td>
 <td>2012-12-27</td>
 <td>140</td>
 <td>233</td>
 <td>8</td>
 <td>-66.0</td>
 <td>903.0</td>
 </tr>,
 <tr class="data-row">
 <td>48</td>
 <td>2012-12-28</td>
 <td>141</td>
 <td>233</td>
 <td>8</td>
 <td>-64.0</td>
 <td>904.0</td>
 </tr>,
 <tr class="data-row">
 <td>49</td>
 <td>2012-12-29</td>
 <td>142</td>
 <td>234</td>
 <td>8</td>
 <td>-65.0</td>
 <td>906.0</td>
 </tr>,
 <tr class="data-row">
 <td>50</td>
 <td>2012-12-31</td>
 <td>143</td>
 <td>235</td>
 <td>8</td>
 <td>-63.0</td>
 <td>908.0</td>
 </tr>,
 <tr class="data-row">
 <td>51</td>
 <td>2013-01-01</td>
 <td>144</td>
 <td>235</td>
 <td>8</td>
 <td>-64.0</td>
 <td>907.0</td>
 </tr>,
 <tr class="data-row">
 <td>52</td>
 <td>2013-01-02</td>
 <td>145</td>
 <td>236</td>
 <td>8</td>
 <td>-64.0</td>
 <td>909.0</td>
 </tr>,
 <tr class="data-row">
 <td>53</td>
 <td>2013-01-03</td>
 <td>146</td>
 <td>237</td>
 <td>8</td>
 <td>-65.0</td>
 <td>908.0</td>
 </tr>,
 <tr class="data-row">
 <td>54</td>
 <td>2013-01-04</td>
 <td>147</td>
 <td>237</td>
 <td>8</td>
 <td>-65.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>55</td>
 <td>2013-01-05</td>
 <td>148</td>
 <td>238</td>
 <td>8</td>
 <td>-65.0</td>
 <td>912.0</td>
 </tr>,
 <tr class="data-row">
 <td>56</td>
 <td>2013-01-06</td>
 <td>149</td>
 <td>239</td>
 <td>8</td>
 <td>-65.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>58</td>
 <td>2013-01-07</td>
 <td>150</td>
 <td>239</td>
 <td>8</td>
 <td>-64.0</td>
 <td>913.0</td>
 </tr>,
 <tr class="data-row">
 <td>59</td>
 <td>2013-01-08</td>
 <td>151</td>
 <td>240</td>
 <td>9</td>
 <td>-65.0</td>
 <td>915.0</td>
 </tr>,
 <tr class="data-row">
 <td>60</td>
 <td>2013-01-09</td>
 <td>152</td>
 <td>241</td>
 <td>9</td>
 <td>-63.0</td>
 <td>914.0</td>
 </tr>,
 <tr class="data-row">
 <td>61</td>
 <td>2013-01-10</td>
 <td>153</td>
 <td>241</td>
 <td>9</td>
 <td>-65.0</td>
 <td>915.0</td>
 </tr>,
 <tr class="data-row">
 <td>62</td>
 <td>2013-01-11</td>
 <td>154</td>
 <td>242</td>
 <td>9</td>
 <td>-65.0</td>
 <td>917.0</td>
 </tr>,
 <tr class="data-row">
 <td>63</td>
 <td>2013-01-12</td>
 <td>155</td>
 <td>243</td>
 <td>9</td>
 <td>-64.0</td>
 <td>917.0</td>
 </tr>,
 <tr class="data-row">
 <td>64</td>
 <td>2013-01-13</td>
 <td>156</td>
 <td>243</td>
 <td>9</td>
 <td>-65.0</td>
 <td>922.0</td>
 </tr>,
 <tr class="data-row">
 <td>65</td>
 <td>2013-01-14</td>
 <td>157</td>
 <td>244</td>
 <td>9</td>
 <td>-64.0</td>
 <td>920.0</td>
 </tr>,
 <tr class="data-row">
 <td>66</td>
 <td>2013-01-15</td>
 <td>158</td>
 <td>245</td>
 <td>9</td>
 <td>-66.0</td>
 <td>922.0</td>
 </tr>,
 <tr class="data-row">
 <td>67</td>
 <td>2013-01-16</td>
 <td>159</td>
 <td>245</td>
 <td>9</td>
 <td>-65.0</td>
 <td>918.0</td>
 </tr>,

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Here’s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [41]:
# Create an empty list
weather_list = []
# Loop through the scraped data to create a list of rows
rows = soup_object2.find_all('tr')
for row in rows:
    cells = row.find_all('td')
    row_data = {}
    
    for i, cell in enumerate(cells):
        row_data[f'cell_{i}'] = cell.text.strip()

    weather_list.append(row_data)   
weather_list

[{},
 {'cell_0': '2',
  'cell_1': '2012-08-16',
  'cell_2': '10',
  'cell_3': '155',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '739.0'},
 {'cell_0': '13',
  'cell_1': '2012-08-17',
  'cell_2': '11',
  'cell_3': '156',
  'cell_4': '6',
  'cell_5': '-76.0',
  'cell_6': '740.0'},
 {'cell_0': '24',
  'cell_1': '2012-08-18',
  'cell_2': '12',
  'cell_3': '156',
  'cell_4': '6',
  'cell_5': '-76.0',
  'cell_6': '741.0'},
 {'cell_0': '35',
  'cell_1': '2012-08-19',
  'cell_2': '13',
  'cell_3': '157',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '732.0'},
 {'cell_0': '46',
  'cell_1': '2012-08-20',
  'cell_2': '14',
  'cell_3': '157',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '740.0'},
 {'cell_0': '57',
  'cell_1': '2012-08-21',
  'cell_2': '15',
  'cell_3': '158',
  'cell_4': '6',
  'cell_5': '-78.0',
  'cell_6': '740.0'},
 {'cell_0': '68',
  'cell_1': '2012-08-22',
  'cell_2': '16',
  'cell_3': '158',
  'cell_4': '6',
  'cell_5': '-77.0',
  'cell_6': '740.0'},
 {'cell_0': '79',
  'cell_1': '2012-08-23',
  'cell_2': '17',
  'cell_3': '159',
  'cell_4': '6',
  'cell_5': '-76.0',
  'cell_6': '742.0'},
 {'cell_0': '112',
  'cell_1': '2012-08-27',
  'cell_2': '21',
  'cell_3': '161',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '741.0'},
 {'cell_0': '114',
  'cell_1': '2012-08-28',
  'cell_2': '22',
  'cell_3': '162',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '742.0'},
 {'cell_0': '123',
  'cell_1': '2012-08-29',
  'cell_2': '23',
  'cell_3': '162',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '741.0'},
 {'cell_0': '134',
  'cell_1': '2012-08-30',
  'cell_2': '24',
  'cell_3': '163',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '742.0'},
 {'cell_0': '145',
  'cell_1': '2012-08-31',
  'cell_2': '25',
  'cell_3': '163',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '743.0'},
 {'cell_0': '156',
  'cell_1': '2012-09-01',
  'cell_2': '26',
  'cell_3': '164',
  'cell_4': '6',
  'cell_5': '-76.0',
  'cell_6': '745.0'},
 {'cell_0': '163',
  'cell_1': '2012-09-02',
  'cell_2': '27',
  'cell_3': '164',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '743.0'},
 {'cell_0': '170',
  'cell_1': '2012-09-03',
  'cell_2': '28',
  'cell_3': '165',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '745.0'},
 {'cell_0': '171',
  'cell_1': '2012-09-04',
  'cell_2': '29',
  'cell_3': '166',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '747.0'},
 {'cell_0': '172',
  'cell_1': '2012-09-05',
  'cell_2': '30',
  'cell_3': '166',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '747.0'},
 {'cell_0': '173',
  'cell_1': '2012-09-06',
  'cell_2': '31',
  'cell_3': '167',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '745.0'},
 {'cell_0': '175',
  'cell_1': '2012-09-08',
  'cell_2': '33',
  'cell_3': '168',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '748.0'},
 {'cell_0': '176',
  'cell_1': '2012-09-10',
  'cell_2': '34',
  'cell_3': '168',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '748.0'},
 {'cell_0': '177',
  'cell_1': '2012-09-11',
  'cell_2': '35',
  'cell_3': '169',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '749.0'},
 {'cell_0': '178',
  'cell_1': '2012-09-12',
  'cell_2': '36',
  'cell_3': '169',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '750.0'},
 {'cell_0': '179',
  'cell_1': '2012-09-13',
  'cell_2': '37',
  'cell_3': '170',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '750.0'},
 {'cell_0': '180',
  'cell_1': '2012-09-14',
  'cell_2': '38',
  'cell_3': '171',
  'cell_4': '6',
  'cell_5': '-73.0',
  'cell_6': '750.0'},
 {'cell_0': '181',
  'cell_1': '2012-09-15',
  'cell_2': '39',
  'cell_3': '171',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '751.0'},
 {'cell_0': '182',
  'cell_1': '2012-09-16',
  'cell_2': '40',
  'cell_3': '172',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '753.0'},
 {'cell_0': '183',
  'cell_1': '2012-09-17',
  'cell_2': '41',
  'cell_3': '172',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '753.0'},
 {'cell_0': '184',
  'cell_1': '2012-09-18',
  'cell_2': '42',
  'cell_3': '173',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '754.0'},
 {'cell_0': '185',
  'cell_1': '2012-09-19',
  'cell_2': '43',
  'cell_3': '173',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '756.0'},
 {'cell_0': '186',
  'cell_1': '2012-09-20',
  'cell_2': '44',
  'cell_3': '174',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '757.0'},
 {'cell_0': '187',
  'cell_1': '2012-09-21',
  'cell_2': '45',
  'cell_3': '175',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '758.0'},
 {'cell_0': '188',
  'cell_1': '2012-09-22',
  'cell_2': '46',
  'cell_3': '175',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '758.0'},
 {'cell_0': '189',
  'cell_1': '2012-09-23',
  'cell_2': '47',
  'cell_3': '176',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '758.0'},
 {'cell_0': '190',
  'cell_1': '2012-09-24',
  'cell_2': '48',
  'cell_3': '176',
  'cell_4': '6',
  'cell_5': '-75.0',
  'cell_6': '759.0'},
 {'cell_0': '191',
  'cell_1': '2012-09-25',
  'cell_2': '49',
  'cell_3': '177',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '761.0'},
 {'cell_0': '192',
  'cell_1': '2012-09-26',
  'cell_2': '50',
  'cell_3': '177',
  'cell_4': '6',
  'cell_5': '-72.0',
  'cell_6': '761.0'},
 {'cell_0': '193',
  'cell_1': '2012-09-27',
  'cell_2': '51',
  'cell_3': '178',
  'cell_4': '6',
  'cell_5': '-76.0',
  'cell_6': '762.0'},
 {'cell_0': '194',
  'cell_1': '2012-09-28',
  'cell_2': '52',
  'cell_3': '179',
  'cell_4': '6',
  'cell_5': '-74.0',
  'cell_6': '762.0'},
 {'cell_0': '195',
  'cell_1': '2012-09-29',
  'cell_2': '53',
  'cell_3': '179',
  'cell_4': '6',
  'cell_5': '-71.0',
  'cell_6': '764.0'},
 {'cell_0': '196',
  'cell_1': '2012-09-30',
  'cell_2': '54',
  'cell_3': '180',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '766.0'},
 {'cell_0': '197',
  'cell_1': '2012-10-01',
  'cell_2': '55',
  'cell_3': '180',
  'cell_4': '7',
  'cell_5': '-74.0',
  'cell_6': '766.0'},
 {'cell_0': '198',
  'cell_1': '2012-10-02',
  'cell_2': '56',
  'cell_3': '181',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '768.0'},
 {'cell_0': '199',
  'cell_1': '2012-10-03',
  'cell_2': '57',
  'cell_3': '181',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '769.0'},
 {'cell_0': '200',
  'cell_1': '2012-10-04',
  'cell_2': '58',
  'cell_3': '182',
  'cell_4': '7',
  'cell_5': '-74.0',
  'cell_6': '769.0'},
 {'cell_0': '201',
  'cell_1': '2012-10-05',
  'cell_2': '59',
  'cell_3': '183',
  'cell_4': '7',
  'cell_5': '-76.0',
  'cell_6': '771.0'},
 {'cell_0': '202',
  'cell_1': '2012-10-06',
  'cell_2': '60',
  'cell_3': '183',
  'cell_4': '7',
  'cell_5': '-75.0',
  'cell_6': '772.0'},
 {'cell_0': '203',
  'cell_1': '2012-10-07',
  'cell_2': '61',
  'cell_3': '184',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '772.0'},
 {'cell_0': '204',
  'cell_1': '2012-10-08',
  'cell_2': '62',
  'cell_3': '184',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '774.0'},
 {'cell_0': '205',
  'cell_1': '2012-10-09',
  'cell_2': '63',
  'cell_3': '185',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '775.0'},
 {'cell_0': '206',
  'cell_1': '2012-10-10',
  'cell_2': '64',
  'cell_3': '186',
  'cell_4': '7',
  'cell_5': '-74.0',
  'cell_6': '776.0'},
 {'cell_0': '207',
  'cell_1': '2012-10-11',
  'cell_2': '65',
  'cell_3': '186',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '777.0'},
 {'cell_0': '208',
  'cell_1': '2012-10-12',
  'cell_2': '66',
  'cell_3': '187',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '778.0'},
 {'cell_0': '209',
  'cell_1': '2012-10-13',
  'cell_2': '67',
  'cell_3': '187',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '780.0'},
 {'cell_0': '210',
  'cell_1': '2012-10-14',
  'cell_2': '68',
  'cell_3': '188',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '781.0'},
 {'cell_0': '211',
  'cell_1': '2012-10-15',
  'cell_2': '69',
  'cell_3': '189',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '778.0'},
 {'cell_0': '212',
  'cell_1': '2012-10-17',
  'cell_2': '70',
  'cell_3': '189',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '783.0'},
 {'cell_0': '213',
  'cell_1': '2012-10-18',
  'cell_2': '71',
  'cell_3': '190',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '784.0'},
 {'cell_0': '214',
  'cell_1': '2012-10-19',
  'cell_2': '72',
  'cell_3': '190',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '785.0'},
 {'cell_0': '215',
  'cell_1': '2012-10-20',
  'cell_2': '73',
  'cell_3': '191',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '788.0'},
 {'cell_0': '216',
  'cell_1': '2012-10-21',
  'cell_2': '74',
  'cell_3': '192',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '790.0'},
 {'cell_0': '217',
  'cell_1': '2012-10-22',
  'cell_2': '75',
  'cell_3': '192',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '791.0'},
 {'cell_0': '218',
  'cell_1': '2012-10-23',
  'cell_2': '76',
  'cell_3': '193',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '792.0'},
 {'cell_0': '219',
  'cell_1': '2012-10-24',
  'cell_2': '77',
  'cell_3': '193',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '792.0'},
 {'cell_0': '220',
  'cell_1': '2012-10-25',
  'cell_2': '78',
  'cell_3': '194',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '793.0'},
 {'cell_0': '221',
  'cell_1': '2012-10-26',
  'cell_2': '79',
  'cell_3': '195',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '795.0'},
 {'cell_0': '222',
  'cell_1': '2012-10-27',
  'cell_2': '80',
  'cell_3': '195',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '796.0'},
 {'cell_0': '223',
  'cell_1': '2012-10-28',
  'cell_2': '81',
  'cell_3': '196',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '798.0'},
 {'cell_0': '224',
  'cell_1': '2012-10-29',
  'cell_2': '82',
  'cell_3': '196',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '799.0'},
 {'cell_0': '225',
  'cell_1': '2012-10-30',
  'cell_2': '83',
  'cell_3': '197',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '801.0'},
 {'cell_0': '226',
  'cell_1': '2012-10-31',
  'cell_2': '84',
  'cell_3': '198',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '801.0'},
 {'cell_0': '227',
  'cell_1': '2012-11-01',
  'cell_2': '85',
  'cell_3': '198',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '805.0'},
 {'cell_0': '228',
  'cell_1': '2012-11-02',
  'cell_2': '86',
  'cell_3': '199',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '808.0'},
 {'cell_0': '229',
  'cell_1': '2012-11-03',
  'cell_2': '87',
  'cell_3': '199',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '808.0'},
 {'cell_0': '230',
  'cell_1': '2012-11-04',
  'cell_2': '88',
  'cell_3': '200',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '811.0'},
 {'cell_0': '231',
  'cell_1': '2012-11-05',
  'cell_2': '89',
  'cell_3': '201',
  'cell_4': '7',
  'cell_5': '-73.0',
  'cell_6': '813.0'},
 {'cell_0': '233',
  'cell_1': '2012-11-06',
  'cell_2': '90',
  'cell_3': '201',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '813.0'},
 {'cell_0': '234',
  'cell_1': '2012-11-07',
  'cell_2': '91',
  'cell_3': '202',
  'cell_4': '7',
  'cell_5': '-74.0',
  'cell_6': '817.0'},
 {'cell_0': '235',
  'cell_1': '2012-11-08',
  'cell_2': '92',
  'cell_3': '202',
  'cell_4': '7',
  'cell_5': '-74.0',
  'cell_6': '820.0'},
 {'cell_0': '236',
  'cell_1': '2012-11-09',
  'cell_2': '93',
  'cell_3': '203',
  'cell_4': '7',
  'cell_5': '-72.0',
  'cell_6': '819.0'},
 {'cell_0': '237',
  'cell_1': '2012-11-10',
  'cell_2': '94',
  'cell_3': '204',
  'cell_4': '7',
  'cell_5': '-70.0',
  'cell_6': '822.0'},
 {'cell_0': '238',
  'cell_1': '2012-11-11',
  'cell_2': '95',
  'cell_3': '204',
  'cell_4': '7',
  'cell_5': '-68.0',
  'cell_6': '822.0'},
 {'cell_0': '239',
  'cell_1': '2012-11-12',
  'cell_2': '96',
  'cell_3': '205',
  'cell_4': '7',
  'cell_5': '-71.0',
  'cell_6': '826.0'},
 {'cell_0': '240',
  'cell_1': '2012-11-13',
  'cell_2': '97',
  'cell_3': '206',
  'cell_4': '7',
  'cell_5': '-68.0',
  'cell_6': '828.0'},
 {'cell_0': '241',
  'cell_1': '2012-11-14',
  'cell_2': '98',
  'cell_3': '206',
  'cell_4': '7',
  'cell_5': '-68.0',
  'cell_6': '828.0'},
 {'cell_0': '242',
  'cell_1': '2012-11-15',
  'cell_2': '99',
  'cell_3': '207',
  'cell_4': '7',
  'cell_5': '-68.0',
  'cell_6': '829.0'},
 {'cell_0': '3',
  'cell_1': '2012-11-16',
  'cell_2': '100',
  'cell_3': '207',
  'cell_4': '7',
  'cell_5': '-66.0',
  'cell_6': '829.0'},
 {'cell_0': '4',
  'cell_1': '2012-11-17',
  'cell_2': '101',
  'cell_3': '208',
  'cell_4': '7',
  'cell_5': '-65.0',
  'cell_6': '830.0'},
 {'cell_0': '5',
  'cell_1': '2012-11-18',
  'cell_2': '102',
  'cell_3': '209',
  'cell_4': '7',
  'cell_5': '-67.0',
  'cell_6': '833.0'},
 {'cell_0': '6',
  'cell_1': '2012-11-19',
  'cell_2': '103',
  'cell_3': '209',
  'cell_4': '7',
  'cell_5': '-66.0',
  'cell_6': '836.0'},
 {'cell_0': '7',
  'cell_1': '2012-11-20',
  'cell_2': '104',
  'cell_3': '210',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '838.0'},
 {'cell_0': '8',
  'cell_1': '2012-11-21',
  'cell_2': '105',
  'cell_3': '211',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '839.0'},
 {'cell_0': '9',
  'cell_1': '2012-11-23',
  'cell_2': '106',
  'cell_3': '211',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '841.0'},
 {'cell_0': '10',
  'cell_1': '2012-11-24',
  'cell_2': '107',
  'cell_3': '212',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '844.0'},
 {'cell_0': '11',
  'cell_1': '2012-11-25',
  'cell_2': '108',
  'cell_3': '212',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '845.0'},
 {'cell_0': '12',
  'cell_1': '2012-11-26',
  'cell_2': '109',
  'cell_3': '213',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '844.0'},
 {'cell_0': '14',
  'cell_1': '2012-11-27',
  'cell_2': '110',
  'cell_3': '214',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '848.0'},
 {'cell_0': '15',
  'cell_1': '2012-11-28',
  'cell_2': '111',
  'cell_3': '214',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '849.0'},
 {'cell_0': '16',
  'cell_1': '2012-11-29',
  'cell_2': '112',
  'cell_3': '215',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '852.0'},
 {'cell_0': '17',
  'cell_1': '2012-11-30',
  'cell_2': '113',
  'cell_3': '216',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '857.0'},
 {'cell_0': '18',
  'cell_1': '2012-12-01',
  'cell_2': '114',
  'cell_3': '216',
  'cell_4': '8',
  'cell_5': '-69.0',
  'cell_6': '857.0'},
 {'cell_0': '19',
  'cell_1': '2012-12-02',
  'cell_2': '115',
  'cell_3': '217',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '857.0'},
 {'cell_0': '20',
  'cell_1': '2012-12-03',
  'cell_2': '116',
  'cell_3': '217',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '859.0'},
 {'cell_0': '21',
  'cell_1': '2012-12-04',
  'cell_2': '117',
  'cell_3': '218',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '861.0'},
 {'cell_0': '22',
  'cell_1': '2012-12-05',
  'cell_2': '118',
  'cell_3': '219',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '864.0'},
 {'cell_0': '23',
  'cell_1': '2012-12-06',
  'cell_2': '119',
  'cell_3': '219',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '866.0'},
 {'cell_0': '25',
  'cell_1': '2012-12-07',
  'cell_2': '120',
  'cell_3': '220',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '867.0'},
 {'cell_0': '26',
  'cell_1': '2012-12-08',
  'cell_2': '121',
  'cell_3': '221',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '869.0'},
 {'cell_0': '27',
  'cell_1': '2012-12-09',
  'cell_2': '122',
  'cell_3': '221',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '869.0'},
 {'cell_0': '28',
  'cell_1': '2012-12-10',
  'cell_2': '123',
  'cell_3': '222',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '875.0'},
 {'cell_0': '29',
  'cell_1': '2012-12-11',
  'cell_2': '124',
  'cell_3': '223',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '876.0'},
 {'cell_0': '30',
  'cell_1': '2012-12-12',
  'cell_2': '125',
  'cell_3': '223',
  'cell_4': '8',
  'cell_5': '-68.0',
  'cell_6': '880.0'},
 {'cell_0': '31',
  'cell_1': '2012-12-13',
  'cell_2': '126',
  'cell_3': '224',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '880.0'},
 {'cell_0': '32',
  'cell_1': '2012-12-14',
  'cell_2': '127',
  'cell_3': '224',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '884.0'},
 {'cell_0': '33',
  'cell_1': '2012-12-15',
  'cell_2': '128',
  'cell_3': '225',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '883.0'},
 {'cell_0': '34',
  'cell_1': '2012-12-16',
  'cell_2': '129',
  'cell_3': '226',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '886.0'},
 {'cell_0': '36',
  'cell_1': '2012-12-17',
  'cell_2': '130',
  'cell_3': '226',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '888.0'},
 {'cell_0': '37',
  'cell_1': '2012-12-18',
  'cell_2': '131',
  'cell_3': '227',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '889.0'},
 {'cell_0': '38',
  'cell_1': '2012-12-19',
  'cell_2': '132',
  'cell_3': '228',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '890.0'},
 {'cell_0': '39',
  'cell_1': '2012-12-20',
  'cell_2': '133',
  'cell_3': '228',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '891.0'},
 {'cell_0': '40',
  'cell_1': '2012-12-21',
  'cell_2': '134',
  'cell_3': '229',
  'cell_4': '8',
  'cell_5': '-67.0',
  'cell_6': '893.0'},
 {'cell_0': '41',
  'cell_1': '2012-12-22',
  'cell_2': '135',
  'cell_3': '230',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '894.0'},
 {'cell_0': '42',
  'cell_1': '2012-12-23',
  'cell_2': '136',
  'cell_3': '230',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '897.0'},
 {'cell_0': '43',
  'cell_1': '2012-12-24',
  'cell_2': '137',
  'cell_3': '231',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '896.0'},
 {'cell_0': '44',
  'cell_1': '2012-12-25',
  'cell_2': '138',
  'cell_3': '232',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '899.0'},
 {'cell_0': '45',
  'cell_1': '2012-12-26',
  'cell_2': '139',
  'cell_3': '232',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '899.0'},
 {'cell_0': '47',
  'cell_1': '2012-12-27',
  'cell_2': '140',
  'cell_3': '233',
  'cell_4': '8',
  'cell_5': '-66.0',
  'cell_6': '903.0'},
 {'cell_0': '48',
  'cell_1': '2012-12-28',
  'cell_2': '141',
  'cell_3': '233',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '904.0'},
 {'cell_0': '49',
  'cell_1': '2012-12-29',
  'cell_2': '142',
  'cell_3': '234',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '906.0'},
 {'cell_0': '50',
  'cell_1': '2012-12-31',
  'cell_2': '143',
  'cell_3': '235',
  'cell_4': '8',
  'cell_5': '-63.0',
  'cell_6': '908.0'},
 {'cell_0': '51',
  'cell_1': '2013-01-01',
  'cell_2': '144',
  'cell_3': '235',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '907.0'},
 {'cell_0': '52',
  'cell_1': '2013-01-02',
  'cell_2': '145',
  'cell_3': '236',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '909.0'},
 {'cell_0': '53',
  'cell_1': '2013-01-03',
  'cell_2': '146',
  'cell_3': '237',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '908.0'},
 {'cell_0': '54',
  'cell_1': '2013-01-04',
  'cell_2': '147',
  'cell_3': '237',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '914.0'},
 {'cell_0': '55',
  'cell_1': '2013-01-05',
  'cell_2': '148',
  'cell_3': '238',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '912.0'},
 {'cell_0': '56',
  'cell_1': '2013-01-06',
  'cell_2': '149',
  'cell_3': '239',
  'cell_4': '8',
  'cell_5': '-65.0',
  'cell_6': '914.0'},
 {'cell_0': '58',
  'cell_1': '2013-01-07',
  'cell_2': '150',
  'cell_3': '239',
  'cell_4': '8',
  'cell_5': '-64.0',
  'cell_6': '913.0'},
 {'cell_0': '59',
  'cell_1': '2013-01-08',
  'cell_2': '151',
  'cell_3': '240',
  'cell_4': '9',
  'cell_5': '-65.0',
  'cell_6': '915.0'},
 {'cell_0': '60',
  'cell_1': '2013-01-09',
  'cell_2': '152',
  'cell_3': '241',
  'cell_4': '9',
  'cell_5': '-63.0',
  'cell_6': '914.0'},
 {'cell_0': '61',
  'cell_1': '2013-01-10',
  'cell_2': '153',
  'cell_3': '241',
  'cell_4': '9',
  'cell_5': '-65.0',
  'cell_6': '915.0'},
 {'cell_0': '62',
  'cell_1': '2013-01-11',
  'cell_2': '154',
  'cell_3': '242',
  'cell_4': '9',
  'cell_5': '-65.0',

In [42]:
browser.quit()